<ion-header no-border color="transparent">
  <ion-toolbar color="transparent">

  </ion-toolbar>
</ion-header>

<ion-content  [fullscreen]="true" >
    <ion-img src="assets/Icono.png"></ion-img>
    <ion-grid>
      <ion-row>
        <ion-col size="4"></ion-col>
        <ion-col size="4"><ion-img color="principal" src="assets/ICONOCIPAVI.svg"></ion-img></ion-col>
        <ion-col size="4"></ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  <ion-footer no-border color="transparent" class="ion-text-margin">
    <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
    </ion-footer>